@use "../abstracts/" as *;


// change in dark mode: bg color, text color
.option {

    --_option-box-shadow-color: var(--option-box-shadow-color, hsla(220, 29%, 66%, 50%));
    --_icon-bg-color: var(--icon-bg-color, #{$clr-light-gray});
    --_icon-text-color: var(--icon-text-color, currentColor);

    @include flex();
    justify-content: space-between;
    align-items: center;

    width: min(em(564), 100%);

    padding: var(--_padding-100);

    background-color: var(--_primary-color);
    color: $clr-dark-navy;
    box-shadow: 0px 0px 6px 0px var(--_option-box-shadow-color);

    border-radius: rem(24);

    font-weight: $font-weight-medium;

    outline: 5px solid transparent;

    cursor: pointer;

    .dark-mode & {
        --option-box-shadow-color: #{$clr-navy};
        --icon-text-color: #{$clr-light-navy};
        color: currentColor;
    }
    
    // apply hover effect for UNCHECKED, UNDISABLED options
    &:not(:has(:checked, :disabled)):hover {
        --icon-text-color: #{$clr-purple};
        --icon-bg-color: hsl(278, 100%, 95%);
    }


    // TODO: create a mixin for outline ? 
    // active option
    &:has(:checked) {
        --icon-bg-color: #{$clr-purple};
        --icon-text-color: #{$clr-pure-white};
        outline-color: $clr-purple;
    }


    // TODO: make width smaller on desktops so padding is not that large ? 
    &__marker {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 2.5em;
        padding: 0.625rem;
        aspect-ratio: 1;

        color: var(--_icon-text-color);
        background-color: var(--_icon-bg-color);
        
        border-radius: rem(12);
    }


    &__main {
        // ensure that marker stays the same size regardless of the length of the text
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }


    &__status-indicator {
        visibility: hidden;
        width: 2em;
    }

}


.option-list__item {
    &[data-pick=correct] .option {
        --icon-bg-color: #{$clr-green};
        --icon-text-color: #{$clr-pure-white};
        outline-color: $clr-green;
    }

    &[data-pick=incorrect] .option {
        --icon-bg-color: #{$clr-red};
        --icon-text-color: #{$clr-pure-white};
        outline-color: $clr-red;
    }

    
    &[data-revealed] .option__status-indicator {
        visibility: visible;
    }

}
