@use "../abstracts/" as *;

// change in dark mode: bg color, text color
.option {
    --_option-box-shadow-color: var(--option-box-shadow-color, hsla(220, 29%, 66%, 50%));
    --_icon-bg-color: var(--icon-bg-color, #{$clr-light-gray});
    --_icon-text-color: var(--icon-text-color, currentColor);

    @include flex();
    justify-content: space-between;
    align-items: center;

    width: min(em(564), 100%);

    padding: var(--_padding-100);

    background-color: var(--_primary-color);
    color: $clr-dark-navy;
    box-shadow: 0px 0px 6px 0px var(--_option-box-shadow-color);

    border-radius: rem(24);

    font-weight: $font-weight-medium;

    outline: 5px solid transparent;

    cursor: pointer;

    .dark-mode & {
        --option-box-shadow-color: #{$clr-navy};
        --icon-text-color: #{$clr-light-navy};
        color: currentColor;
    }
    
    // apply hover effect for UNCHECKED, UNDISABLED options
    &:not(:has(:checked, :disabled)):hover {
        --icon-text-color: #{$clr-purple};
        --icon-bg-color: hsl(278, 100%, 95%);
    }


    // TODO: create a mixin for outline ? 
    // active option
    &:has(:checked) {
        --icon-bg-color: #{$clr-purple};
        --icon-text-color: #{$clr-pure-white};
        outline-color: $clr-purple;
    }


    // mark with green if picked correctly
    &--picked-correctly {
        --icon-bg-color: #{$clr-green};
        --icon-text-color: #{$clr-pure-white};
        outline-color: $clr-green;
    }


    // mark with red if picked incorrectly
    &--picked-incorrectly {
        --icon-bg-color: #{$clr-red};
        --icon-text-color: #{$clr-pure-white};
        outline-color: $clr-red;
    }


    // TODO: make width smaller on desktops so padding is not that large ? 
    &__marker {
        display: grid;
        place-items: center;

        width: 2.5em;
        padding: 0.25rem;
        aspect-ratio: 1;

        color: var(--_icon-text-color);
        background-color: var(--_icon-bg-color);
        
        border-radius: rem(12);
    }


    &__main {
        @include flex(1em);
        align-items: center;
    }


    &__state-indicator {
        width: 2em;
    }
}
