@use "../abstracts/" as *;

.quiz-progress {
    @include reset_appearence();
    --_progress-bar-color: var(--progress-bar-color, #{$clr-pure-white});
    
    display: block;
    width: 100%;

    .dark-mode & {
        --progress-bar-color: #{$clr-navy};
    }

    &::-webkit-progress-bar {
        background-color: var(--_progress-bar-color);
        padding: rem(6);
        border-radius: 100rem;

    }

    &::-webkit-progress-value {
        background-color: $clr-purple;
        border-radius: inherit;
    }


    &::-moz-progress-bar {
        background-color: var(--_progress-bar-color);
        padding: rem(6);
        border-radius: 100rem;
    }
}