@use "../abstracts/" as *;

$icon-background-colors: (
    "html": hsl(22, 100%, 96%),
    "css" : hsl(151, 88%, 94%),
    "javascript": hsl(225, 100%, 96%),
    "accessibility": hsl(278, 100%, 95%)
);

.topic-icon {
    --_topic-icon-size: var(--topic-icon-size, 3rem);
    width: var(--_topic-icon-size);
    aspect-ratio: 1;

    padding: rem(10);
    border-radius: rem(12);

    &[data-icon=html] {
        background: map-get($icon-background-colors, "html");
    }
    &[data-icon=css] {
        background: map-get($icon-background-colors, "css");
    }
    &[data-icon=javascript] {
        background: map-get($icon-background-colors, "javascript");
    }
    &[data-icon=accessibility] {
        background: map-get($icon-background-colors, "accessibility");
    }

    &[src=""] {
        visibility: hidden;
    }
}