@use "../abstracts/" as *;



/* general */
body {
    --_body-background-color: var(--body-background-color, #{$clr-light-gray});
    --_body-text-color: var(--body-text-color, #{$clr-dark-navy});

    background: var(--_body-background-color);
    background-image: url("/dist/img/pattern-background-mobile-light.svg");
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--_body-text-color);
    font-family: $primary-font-family;
    font-size: $font-size-base;

    &.dark-mode {
        background-image: url("/dist/img/pattern-background-mobile-dark.svg");
    }

    @include media-query($medium-screen-size) {
        background-image: url("/dist/img/pattern-background-tablet-light.svg");

        &.dark-mode {
            background-image: url("/dist/img/pattern-background-tablet-dark.svg");
        }
    }

    @include media-query($large-screen-size) {
        background-image: url("/dist/img/pattern-background-desktop-light.svg");

        &.dark-mode {
            background-image: url("/dist/img/pattern-background-desktop-dark.svg");
        }
    }
}


.dark-mode {
    --body-background-color: #{$clr-dark-navy};
    --body-text-color: #{$clr-pure-white};


}


.quiz-menu {
    &__header {
        align-content: start;
    }
}


.quiz-main {
    &__header {
        @include grid(rem(24));
        align-content: space-between;
    }

    // div container with questions left span and question itself
    &__header > :first-child {
        @include grid(rem(12));
    }
    
    @include media-query($medium-screen-size) {
        &__header {
            height: 80%;
            gap: rem(40);
        }

        &__header > :first-child {
            gap: rem(27);
        }
    }
}


.option-list {
    @include list($off-markers: "true");
}


.option-container {
    --_option-gap: var(--option-gap, #{em(16)});

    // add equal spacing between each item inside option container
    & * {
        @include grid(var(--_option-gap));
    }

    @include media-query($medium-screen-size) {
        --option-gap: #{em(24)};
    }
}


// TODO: move to seperate file like "text-utils" ?
.small-text {
    font-size: $font-size-smallest;
    color: $clr-light-navy; 
    font-style: italic;

    .dark-mode & {
        color: $clr-light-bluish;
    }
}
