@use "../abstracts/" as *;

/* reset default heading typography styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
}


/* larger line height for paragraphs */
p {
    line-height: 1.5;
}


h1 {
    color: var(--_body-text-color);
    font-size: $font-size-heading;
}
