@use "../abstracts/" as *;

/* HEADER */
.header {
    --_mode-icon-size: #{rem(20)};
    display: flex;
    justify-content: space-between;

    padding-block: 1rem;

    @include media-query($medium-screen-size) {
        --_mode-icon-size: #{rem(24)};
    }

    &__quiz-topic {
        @include flex();
        align-items: center;

        font-weight: $font-weight-medium;
    }

    
    &__toggle {
        @include flex(rem(8));
        align-items: center;
    }


    &__toggle-icon {
        width: var(--_mode-icon-size);
        aspect-ratio: 1;
        
        &:first-child {
            background: url("/dist/img/icon-sun-dark.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        &:last-child {
            background: url("/dist/img/icon-moon-dark.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* light version of mode icons (dark mode)*/ 
        .dark-mode &:first-child {
            background: url("/dist/img/icon-sun-light.svg");
        }

        .dark-mode &:last-child {
            background: url("/dist/img/icon-moon-light.svg");
        }
    }
}