@use "../abstracts/" as *;

/* MAIN */
.main {
    // spacing between header and options 
    --_layout-gap: var(--layout-gap, #{rem(40)});

    // quiz windows: menu, main and end 
    & > article:not(.none) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
        row-gap: var(--_layout-gap);
        column-gap: 10rem;
    }


    @include media-query($medium-screen-size) {
        --layout-gap: #{rem(64)};
    }
}